* {
    font-family: sans-serif;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1180px;
    margin: auto;
    text-align: center;
}

.header {
    padding: 50px 0;
    background: url("../images/header.jpg") rgb(102, 140, 163);
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: 50% 50%, 100%;
}

.header__links {
    display: flex;
    justify-content: space-around;
}

.header__links a {
    width: 150px;
    background-color: rgba(187, 214, 231, 0.7);
    color: rgb(0, 34, 85);
    text-decoration: none;
}

.header__text {
    max-width: 620px;
    margin: 200px auto;
    padding: 20px 20px 50px;
    background-color: rgba(102, 140, 163, 0.7);
    color: rgb(0, 23, 56);
    border: 5px solid rgba(0, 34, 85, 0.7);
}

.header__title {
    text-transform: uppercase;
    font-size: 42px;
}

.header__subtitle {
    text-transform: uppercase;
}

.nav {
    padding: 20px 0;
    background-color: #001738;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style: none;
}

.menu-list a {
    text-decoration: none;
}

.nav-list a {
    color: #fff;
}

.nav-list a:hover {
    color: #668ca3;
    text-decoration: underline;
}

.main {
    padding: 50px 0 100px;
}

.main__subtitle {
    display: block;
    margin-left: 90px;
    text-align: left;
    color: #074164;
}

.main__title {
    margin-top: 50px;
    font-size: 28px;
}

.section {
    padding: 50px 0 100px;
}

.section__title {
    font-size: 28px;
}

.section__list {
    list-style: none;
}

.advantages {
    background-color: #668ca3;
}


.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 100px;
}

.advantages__list li {
    position: relative;
    flex-basis: 50%;
    margin-bottom: 20px;
}

.advantages__list li:before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    top: 5px;
    left: -20px;
    border: 2px solid rgba(0, 34, 85, 1);
    border-left-color: rgba(0, 34, 85, 0.5);
    border-right-color: rgba(0, 34, 85, 0.5);
    transform: rotate(45deg);
}

.advantages__subtitle,
.offers__subtitle {
    font-size: 24px;
}

.offers {
    padding-top: 100px;
}

.offers__list {
    margin-top: 50px;
    font-size: 20px;
}

.offers__list li {
    margin-bottom: 20px;
}

.offers__list a {
    text-decoration: none;
    color: #000;
}

.offers__list a:hover {
    color: #074164;
    text-decoration: underline;
}

.footer {
    padding: 30px;
    background-color: rgb(0, 23, 56);
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer__links {
    display: flex;
    justify-content: space-between;
}

.footer__list a {
    margin-right: 25px;
}

.footer a:hover {
    color: #668ca3;
}

.juins {
    background: url("../images/juins.jpg"), #668ca3;
}

.games {
    background: url("../images/games.jpg"), #668ca3;
}

.sites {
    background: url("../images/sites.jpeg"), #668ca3;
}

.juins,
.games,
.sites {
    background-repeat: no-repeat;
    background-position: calc(100% - 49.2vw);
}

.section__text {
    max-width: 50%;
    text-align: justify;
}

.juins__text,
.games__text,
.sites__text {
    margin-left: auto;
    padding-left: 50px;
}

.law {
    background: url("../images/laws.jpg");
}

.rent {
    background: url("../images/rent.jpg");
    background-repeat: no-repeat;
    background-position: 50vw;
}

.law {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50vw;
}

.sites {
    background-position-y: -75px; 
}

.law__text,
.rent__text {
    padding-right: 50px;
}

.upp p,
.upp ol,
.upp ul,
.meat p,
.leather p,
.contacts ul {
    text-align: justify;
}

.juins ul,
.law ul,
.upp ul,
.upp ol {
   padding-left: 20px; 
}

.underline {
    text-decoration: underline;
}

.backward {
    display: block;
    text-align: left;
}

.leather,
.meat,
.contacts {
    min-height: calc(100vh - 136px);
}

.advantages__list {
    text-align: left;
    padding-left: 100px;
}

.offers__subtitle br {
    display: none;
}

.contacts__list {
    list-style: none;
}

@media (max-width: 1200px) {
    .container {
        padding: 0 30px;
    }
    .header {
        background-size: cover;
    }
    .header__text {
        margin: 10vh auto;
    }
    .law {
        background-size: cover;
    }
}

@media (max-width: 991px) {
    .advantages__list {
        flex-direction: column;
    }

    .juins,
    .games,
    .sites {
        background: #668ca3;
    }

    .law,
    .rent {
        background: none;
    }

    .section__text {
        max-width: 100%;
        margin: auto;
        padding: 0;
    }
}

@media (max-width: 769px) {
    .footer__list {
        display: none;
    }

    .juins,
    .games,
    .sites,
    .law,
    .rent {
        padding: 20px 0 50px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 15px;
    }

    .header__title {
        font-size: 36px;
    }

    .main {
        padding-bottom: 50px;
    }

    .main__subtitle {
        margin: 0;
    }

    .main__title {
        font-size: 24px;
    }

    .main__description {
        text-align: justify;
    }

    .section {
        padding: 30px 0 50px;
    }

    .section__title {
        font-size: 24px;
    }

    .advantages__list {
        padding-left: 30px;
        margin-bottom: 30px;
    }

    .offers__subtitle {
        font-size: 18px;
    }

    .offers__subtitle br {
        display: block;
    }

    .offers__list {
        font-size: 16px;
    }

    .footer__logo {
        display: none;
    }
}